<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.councils.councils" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>app</name>
  <description>
        A productivity app for LDS councils. 
    </description>
  <author email="nicksrandall@gmail.com" href="http://nickrandall.com/">
      Nick Randall
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
   <feature name="Keyboard">
    <param name="ios-package" value="IonicKeyboard" onload="true" />
  </feature>
  <platform name="ios">
    <icon src="resources/ios/icon/icon-40.png" width="40" height="40"/>
    <icon src="resources/ios/icon/icon-40@2x.png" width="80" height="80"/>
    <icon src="resources/ios/icon/icon-60@2x.png" width="120" height="120"/>
    <icon src="resources/ios/icon/icon-60@3x.png" width="180" height="180"/>
    <icon src="resources/ios/icon/icon-76.png" width="76" height="76"/>
    <icon src="resources/ios/icon/icon-76@2x.png" width="152" height="152"/>
    <icon src="resources/ios/icon/icon-small.png" width="29" height="29"/>
    <icon src="resources/ios/icon/icon-small@2x.png" width="58" height="58"/>
    <icon src="resources/ios/icon/icon-small@3x.png" width="87" height="87"/>
    <splash src="resources/ios/splash/Default-568h@2x.png" width="640" height="1136"/>
    <splash src="resources/ios/splash/Default-667h@2x.png" width="750" height="1334"/>
    <splash src="resources/ios/splash/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
    <splash src="resources/ios/splash/Default-Portrait@2x.png" width="1536" height="2048"/>
    <splash src="resources/ios/splash/Default-Portrait@2x.png" width="768" height="1024"/>
    <splash src="resources/ios/splash/Default@2x.png" width="640" height="960"/>
    <splash src="resources/ios/splash/Default.png" width="320" height="480"/>
  </platform>
  <platform name="android">
    <icon src="resources/android/icon/drawable-ldpi/ic_launcher.png" density="ldpi"/>
    <icon src="resources/android/icon/drawable-mdpi/ic_launcher.png" density="mdpi"/>
    <icon src="resources/android/icon/drawable-hdpi/ic_launcher.png" density="hdpi"/>
    <icon src="resources/android/icon/drawable-xhdpi/ic_launcher.png" density="xhdpi"/>
    <icon src="resources/android/icon/drawable-xxhdpi/ic_launcher.png" density="xxhdpi"/>
    <icon src="resources/android/icon/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    <splash src="resources/android/splash/res-long-port-ldpi/default.png" density="port-ldpi"/>
    <splash src="resources/android/splash/res-long-port-mdpi/default.png" density="port-mdpi"/>
    <splash src="resources/android/splash/res-long-port-hdpi/default.png" density="port-hdpi"/>
    <splash src="resources/android/splash/res-long-port-xhdpi/default.png" density="port-xhdpi"/>
    <splash src="resources/android/splash/res-long-port-xxhdpi/default.png" density="port-xxhdpi"/>
    <splash src="resources/android/splash/res-long-port-xxxhdpi/default.png" density="port-xxxhdpi"/>
  </platform>
  <icon src="resources/ios/icon/icon-small@3x.png"/>
</widget>