
<ion-pane class="login full-height">
  <form name="loginForm" class="mar0a" ng-submit="login(credentials)" novalidate>
    <ion-content scroll="false">
      <div class="row responsive-sm vac pad50lr">
        <div class="col mar0tb pad0 tac">
          <i class="icon ion-ios-people f72"></i>
          <h1 class="mar10b f36 mar0t">Councils</h1>
        </div>
        <div class="col mar0tb pad0">
          <label class="item item-input">
            <span class="input-label">Username:</span>
            <input type="text" placeholder="Username" id="username" ng-model="credentials.username">
          </label>
        </div>
        <div class="col mar0tb pad0">
          <label class="item item-input">
            <span class="input-label">Password:</span>
            <input type="password" id="password" placeholder="Password" ng-model="credentials.password">
          </label>
        </div>
        <!-- Demo link to Welcome screen -->
        <div class="col mar0tb pad0 tac">
          <span ui-sref="simple.welcome">(View Welcome screen)</span>
        </div>
        <!-- End of Demo Link -->


      </div>
      <button type="submit" class="button button-block button-max" nav-direction="forward" ui-sref="menu.home">Login</button>

    </ion-content>
  </form>
</ion-pane>
