
<ion-pane class="onboarding full-height">
  <ion-content scroll="false">
    <div class="vac pad50lr">
      <div class="row mar0tb pad0">
        <div class="mar0a">
          <h2 class="tac">Onboarding</h2>
          <p>Here's how you use the app:</p>
          <ul>
            <li>Tap on things</li>
            <li>Type things</li>
            <li>Read things</li>
          </ul>
        </div>
      </div>
      <div class="row mar0tb pad0">
        <button class="button button-block button-max mar0a" ui-sref="simple.setup" nav-direction="forward">Got it!</button>
      </div>
    </div>
  </ion-content>
</ion-pane>
