
<ion-pane class="setup full-height">
  <ion-content scroll="false">
    <div class="row responsive-sm vac pad50lr">
      <div class="col mar0tb pad0">
        <hr />
        <h2 class="tac">Setup</h2>
        <hr />
        <p>Please enter your LDS Account username and password:</p>
        <form name="loginForm" novalidate>
          <div class="col mar0tb pad0">
            <label class="item item-input">
              <span class="input-label">Username:</span>
              <input type="text" placeholder="Username" id="username" ng-model="credentials.username">
            </label>
          </div>
          <div class="col mar0tb pad0">
            <label class="item item-input">
              <span class="input-label">Password:</span>
              <input type="password" id="password" placeholder="Password" ng-model="credentials.password">
            </label>
          </div>

          <hr class="mar20t"/>
          <h2>Pin</h2>
          <hr />
          <div class="col mar0tb pad0">
            <label class="item item-input">
              <span class="input-label">Security Pin:</span>
              <input type="number" placeholder="PIN" id="pin" ng-model="credentials.pin">
            </label>
          </div>
          <button class="button button-block button-max mar0a mar10t" ui-sref="menu.home" nav-direction="forward">Use the App!</button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-pane>
