
<ion-pane class="setup">
  <form name="loginForm" novalidate ng-submit="ldsLogin()">
    <ion-content scroll="false">
      <div class="row responsive-sm pad50lr">
        <div class="col mar0tb pad0">

          <h1 class="tac mar30t">Setup</h1>
          <p>Please enter your LDS Account username and password.</p>
            <div class="col mar0tb pad0">
              <label class="item item-input">
                <span class="input-label">Username:</span>
                <input type="text" placeholder="Username" name="name" id="username" ng-model="credentials.name">
              </label>
            </div>
            <div class="col mar0tb pad0">
              <label class="item item-input">
                <span class="input-label">Password:</span>
                <input type="password" id="password" name="pass" placeholder="Password" ng-model="credentials.pass">
              </label>
            </div>
        </div>
      </div>

      <div class="button-container">
        <button type="submit" class="button button-block button-max mar10t" nav-direction="forward">Log in</button>
        <button type="button" ui-sref="simple.welcome" class="button button-block button-clear button-max mar10t" nav-direction="forward">Back</button>
      </div>

    </ion-content>
  </form>
</ion-pane>
