@font-face {
  font-family: 'Surveyor';
  src: url('../fonts/SurveyorDisplay-Book.otf') format("opentype");
}

@font-face {
  font-family: 'Surveyor';
  font-weight: 300;
  src: url('../fonts/SurveyorDisplay-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Surveyor';
  font-weight: 500;
  src: url('../fonts/SurveyorDisplay-Medium.otf') format("opentype");
}

@font-face {
  font-family: 'Surveyor';
  font-weight: 700;
  src: url('../fonts/SurveyorDisplay-Bold.otf') format("opentype");
}
