
<div class="mar0 pad20lr" ng-controller="CouncilDetailController">
  <button class="button button-block button-outline mar0 mar20tb" ui-sref="council.assignment_new">
    <i class="icon ion-ios-list-outline"></i>
    <span>Create New Assignment</span>
  </button>

  <hr class="plain" />

  <ion-list id="personal-assignments">

    <ion-item ng-repeat="assignment in assignments" class="row pad0">

      <div class="col pad0">
        <div class="row pad0">
          <div class="col col-10 pad0lr">
            <label class="checkbox pad0">
              <input type="checkbox">
            </label>
          </div>
          <div class="col">
            <div class="username f12 sans cBlue">{{assignment.userName}}</div>
            <div class="content">{{assignment.content}}</div>
          </div>
        </div>
        <div class="row pad0lr">
          <div class="col col-10"></div>
          <div class="col tar pad0">
            <div class="fl ion-ios-chatbubble-outline pad10r cBlue f16">
              <span class="pad10l f12 cBlue sans" ng-show="assignment.comments.length">{{assignment.comments.length}}</span>
            </div>
            <span class="greyA sans f12">{{assignment.dueDate | wordOrDate}}</span>
          </div>
        </div>
      </div>


    </ion-item>
  </ion-list>
</div>
