<ion-modal-view class="new_discussion">

  <ion-header-bar>
    <button class="button button-outline" ng-click="back()" nav-direction="back">Cancel</button>
    <div class="title"></div>
    <button class="button button-outline button-positive" ng-click="createDiscussion()">Create</button>
  </ion-header-bar>

  <ion-content>
    <ion-list>

      <ion-item>
        <textarea class="sans" ng-model="data.content" name="content" placeholder="Start new discussion" msd-elastic="\n"></textarea>
      </ion-item>

    </ion-list>
  </ion-content>
  
</ion-modal-view>
