
<ion-pane class="council_edit">

  <ion-header-bar>
    <button class="button button-outline cBlue-border cBlue" ng-click="back()">Done</button>
  </ion-header-bar>

  <hr class="plain mar40t mar10lr" />

  <ion-content class="pad10 pad20t">

    <h1>Bishopric Council</h1>

    <hr class="plain" />

    <div class="cBlue" ng-click="openMembersModal('participants')">
      <i class="icon ion-ios-people f24"></i>
      <span class="modal-trigger f12" ng-show="data.participants.length > 0">
        {{data.participants.length}} Participant{{(data.participants.length == 1) ? "" : "s"}}
      </span>
      <span class="modal-trigger f12" ng-show="data.participants.length == 0" >
        Add Participants
      </span>
    </div>

    <hr class="plain" />

    <ul id="participants">
      <li class="dib" ng-repeat="memberId in data.participants">
        <img ng-src="img/{{members[memberId].avatar}}" ui-sref="menu.profile" />
      </li>
    </ul>

  </ion-content>

</ion-pane>
