
<ion-pane class="councils_detail">

  <ion-header-bar>
    <button class="icon ion-ios-arrow-thin-left button-clear button" ng-click="back()"></button>
    <div class="title icon ion-ios-people " ui-sref="councils">Council: {{$root.currentItemId}}</div>
    <button class="button button-clear icon ion-edit f20" ui-sref="menu.council.edit"></button>
  </ion-header-bar>

  <div class="tab-menu tac">
    <a ui-sref="menu.council.tab.discussion" nav-direction="back" ng-class={'selected':($root.currentTab=='discussions')}>Discussions</a>
    <a ui-sref="menu.council.tab.assignment" nav-direction="forward" ng-class={'selected':($root.currentTab=='assignments')}>Assignments</a>
  </div>

  <ion-content class="mar40t">
    <ion-nav-view name="tab" class="pad20" animation="no-animation">
      <!-- Tab content will be loaded here -->
    </ion-nav-view>
  </ion-content>

</ion-pane>
