<div class="member modal">

  <ion-header-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search for ward member" ng-model="search.Term">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </ion-header-bar>

  <ion-content class="full-height">
    <ion-list>
      <ion-item class="item-avatar" ng-class="{selected: selection.users.contains(member)}" ng-repeat="member in search.Results" ng-click="selection.toggle(member)">
        <img ng-src="{{member.profileImage}}">
        <h2 class="serif">{{member.fname}} {{member.lname}}</h2>
        <p>{{member.groupName}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar>
    <button class="button button-block button-outline button-positive" ng-click="closeModal('done')">Done</button>
  </ion-footer-bar>

</div>
