<div class="member modal">
  <ion-header-bar>
    <input placeholder="Search for ward member" name="memberSearch" id="memberSearch" ng-model="searchTerm"></input>
  </ion-header-bar>
  <ion-content class="full-height pad20lr">
    <div>
      <ion-list>
        <ion-item ng-repeat="member in searchResults">
          <img ng-src="img/{{member.avatar}}">
          <span class="serif">{{member.name}}</span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-footer-bar class="tac">
    <button class="button button-block button-max mar0a" ng-click="closeModal()">Cancel</button>
  </ion-footer-bar>
</div>
