<div class="member modal">

  <ion-header-bar>
    <input placeholder="Search for ward member" ng-model="search.Term"></input>
  </ion-header-bar>

  <ion-content class="full-height pad20lr">
    <ion-list>
      <ion-item ng-class="{selected: selection.users.contains(member.id)}" ng-repeat="member in search.Results" ng-click="selection.toggle(member)">
        <img ng-src="{{member.profileImage}}">
        <span class="serif">{{member.fname}} {{member.lname}}</span>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer-bar class="tac">
    <button class="button button-block button-max mar0a" ng-click="closeModal('done')">
      Done
    </button>
  </ion-footer-bar>

</div>
