
<ion-side-menus>

  <ion-side-menu-content>

    <ion-nav-view name="menuContent">
    </ion-nav-view>

    <div id="loadingOverlay" class="hidden"><i class="icon ion-load-c f72 greyA"></i></div>

  </ion-side-menu-content>

  <ion-side-menu expose-aside-when="large">

    <ion-pane class="navigation full-height">
      <ion-content scroll="false">
        <div class="vac">
          <div class="row">
            <button class="button button-clear button-dark button-block" ui-sref="menu.home" nav-clear menu-close>
              <i class="icon ion-ios-home-outline db f36"></i>
              <span>Home</span>
            </button>
          </div>
          <div class="row mar0tb pad0">
            <button class="button button-clear button-dark button-block" ui-sref="menu.council.list" nav-clear menu-close>
              <i class="icon ion-ios-people db f36"></i>
              <span>Councils</span>
            </button>
          </div>
          <div class="row mar0tb pad0">
            <button class="button button-clear button-dark button-block" ui-sref="menu.agenda.list" nav-clear menu-close>
              <i class="icon ion-ios-list-outline db f36"></i>
              <span>Agendas</span>
            </button>
          </div>
        </div>
      </ion-content>

      <div class="bar bar-footer">
        <button class="button button-clear pad20lr pad10tb" ng-click="openModal('feedback')">
          Feedback
        </button>
        <button class="button button-clear pad20lr pad10tb" nav-direction="back" ui-sref="simple.login">
          Log Out
        </button>
      </div>
    </ion-pane>

  </ion-side-menu>
</ion-side-menus>
