/* This is the main stylesheet for all non-ionic styling
 * Please maintain an up-to-date list of manifest files
 * here. There should be no styling in this file.
 */
/* line 2, ../lib/ionic/scss/base/_shorthand.sass */
.full-height, .pane.home .scroll {
  height: 100% !important;
}

/* line 4, ../lib/ionic/scss/base/_shorthand.sass */
.db {
  display: block !important;
}

/* line 6, ../lib/ionic/scss/base/_shorthand.sass */
.di {
  display: inline !important;
}

/* line 8, ../lib/ionic/scss/base/_shorthand.sass */
.dib {
  display: inline-block !important;
}

/* line 12, ../lib/ionic/scss/base/_shorthand.sass */
.vac {
  position: relative;
  top: 50%;
  -ms-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px -50%);
}

/* line 14, ../lib/ionic/scss/base/_shorthand.sass */
.tac {
  text-align: center !important;
}

/* line 16, ../lib/ionic/scss/base/_shorthand.sass */
.tal {
  text-align: left !important;
}

/* line 18, ../lib/ionic/scss/base/_shorthand.sass */
.tar {
  text-align: right !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f10, .f10.icon:before {
  font-size: 10px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f12, .pane.home button span, .pane.home .bar-footer button, .f12.icon:before, .pane.home button span.icon:before, .pane.home .bar-footer button.icon:before {
  font-size: 12px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f14, .f14.icon:before {
  font-size: 14px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f16, .f16.icon:before {
  font-size: 16px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f18, .f18.icon:before {
  font-size: 18px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f20, .f20.icon:before {
  font-size: 20px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f22, .f22.icon:before {
  font-size: 22px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f24, .f24.icon:before {
  font-size: 24px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f30, .f30.icon:before {
  font-size: 30px !important;
}

/* line 25, ../lib/ionic/scss/base/_shorthand.sass */
.f36, .f36.icon:before {
  font-size: 36px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad0 {
  padding: 0px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad0t {
  padding-top: 0px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad0b {
  padding-bottom: 0px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad0tb {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad0l {
  padding-left: 0px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad0r {
  padding-right: 0px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad0lr {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad10 {
  padding: 10px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad10t {
  padding-top: 10px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad10b {
  padding-bottom: 10px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad10tb {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad10l {
  padding-left: 10px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad10r {
  padding-right: 10px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad10lr {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad20 {
  padding: 20px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad20t {
  padding-top: 20px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad20b {
  padding-bottom: 20px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad20tb {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad20l {
  padding-left: 20px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad20r {
  padding-right: 20px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad20lr {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad30 {
  padding: 30px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad30t {
  padding-top: 30px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad30b {
  padding-bottom: 30px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad30tb {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad30l {
  padding-left: 30px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad30r {
  padding-right: 30px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad30lr {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad40 {
  padding: 40px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad40t {
  padding-top: 40px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad40b {
  padding-bottom: 40px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad40tb {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad40l {
  padding-left: 40px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad40r {
  padding-right: 40px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad40lr {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad50 {
  padding: 50px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad50t {
  padding-top: 50px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad50b {
  padding-bottom: 50px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad50tb {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad50l {
  padding-left: 50px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad50r {
  padding-right: 50px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad50lr {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad60 {
  padding: 60px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad60t {
  padding-top: 60px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad60b {
  padding-bottom: 60px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad60tb {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad60l {
  padding-left: 60px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad60r {
  padding-right: 60px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad60lr {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad70 {
  padding: 70px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad70t {
  padding-top: 70px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad70b {
  padding-bottom: 70px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad70tb {
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad70l {
  padding-left: 70px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad70r {
  padding-right: 70px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad70lr {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

/* line 31, ../lib/ionic/scss/base/_shorthand.sass */
.pad80 {
  padding: 80px !important;
}

/* line 33, ../lib/ionic/scss/base/_shorthand.sass */
.pad80t {
  padding-top: 80px !important;
}

/* line 35, ../lib/ionic/scss/base/_shorthand.sass */
.pad80b {
  padding-bottom: 80px !important;
}

/* line 37, ../lib/ionic/scss/base/_shorthand.sass */
.pad80tb {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}

/* line 40, ../lib/ionic/scss/base/_shorthand.sass */
.pad80l {
  padding-left: 80px !important;
}

/* line 42, ../lib/ionic/scss/base/_shorthand.sass */
.pad80r {
  padding-right: 80px !important;
}

/* line 44, ../lib/ionic/scss/base/_shorthand.sass */
.pad80lr {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar0 {
  margin: 0px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar0t {
  margin-top: 0px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar0b {
  margin-bottom: 0px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar0tb {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar0l {
  margin-left: 0px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar0r {
  margin-right: 0px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar0lr {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar10 {
  margin: 10px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar10t {
  margin-top: 10px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar10b {
  margin-bottom: 10px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar10tb {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar10l {
  margin-left: 10px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar10r {
  margin-right: 10px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar10lr {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar20 {
  margin: 20px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar20t {
  margin-top: 20px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar20b {
  margin-bottom: 20px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar20tb {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar20l {
  margin-left: 20px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar20r {
  margin-right: 20px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar20lr {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar30 {
  margin: 30px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar30t {
  margin-top: 30px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar30b {
  margin-bottom: 30px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar30tb {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar30l {
  margin-left: 30px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar30r {
  margin-right: 30px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar30lr {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar40 {
  margin: 40px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar40t {
  margin-top: 40px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar40b {
  margin-bottom: 40px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar40tb {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar40l {
  margin-left: 40px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar40r {
  margin-right: 40px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar40lr {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar50 {
  margin: 50px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar50t {
  margin-top: 50px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar50b {
  margin-bottom: 50px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar50tb {
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar50l {
  margin-left: 50px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar50r {
  margin-right: 50px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar50lr {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar60 {
  margin: 60px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar60t {
  margin-top: 60px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar60b {
  margin-bottom: 60px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar60tb {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar60l {
  margin-left: 60px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar60r {
  margin-right: 60px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar60lr {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar70 {
  margin: 70px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar70t {
  margin-top: 70px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar70b {
  margin-bottom: 70px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar70tb {
  margin-bottom: 70px !important;
  margin-top: 70px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar70l {
  margin-left: 70px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar70r {
  margin-right: 70px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar70lr {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

/* line 51, ../lib/ionic/scss/base/_shorthand.sass */
.mar80 {
  margin: 80px !important;
}

/* line 53, ../lib/ionic/scss/base/_shorthand.sass */
.mar80t {
  margin-top: 80px !important;
}

/* line 55, ../lib/ionic/scss/base/_shorthand.sass */
.mar80b {
  margin-bottom: 80px !important;
}

/* line 57, ../lib/ionic/scss/base/_shorthand.sass */
.mar80tb {
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}

/* line 60, ../lib/ionic/scss/base/_shorthand.sass */
.mar80l {
  margin-left: 80px !important;
}

/* line 62, ../lib/ionic/scss/base/_shorthand.sass */
.mar80r {
  margin-right: 80px !important;
}

/* line 64, ../lib/ionic/scss/base/_shorthand.sass */
.mar80lr {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

/* line 7, ../lib/ionic/scss/pages/_home.sass */
.pane.home .row .col {
  border-bottom: 2px solid #EEE;
}
/* line 10, ../lib/ionic/scss/pages/_home.sass */
.pane.home .row .col:last-child {
  border-bottom: none;
}
/* line 13, ../lib/ionic/scss/pages/_home.sass */
.pane.home button {
  max-height: none;
}
/* line 16, ../lib/ionic/scss/pages/_home.sass */
.pane.home button .icon {
  position: relative;
  top: 5px;
}
/* line 20, ../lib/ionic/scss/pages/_home.sass */
.pane.home button span {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  top: -5px;
}
/* line 27, ../lib/ionic/scss/pages/_home.sass */
.pane.home .bar-footer {
  height: auto;
}
/* line 30, ../lib/ionic/scss/pages/_home.sass */
.pane.home .bar-footer button {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #69E;
}
