/* This is the main stylesheet for all non-ionic styling
 * Please maintain an up-to-date list of manifest files
 * here. There should be no styling in this file.
 */
/* line 2, ../../scss/base/_shorthand.sass */
.sans, ion-pane h2, .agenda_detail label span {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 4, ../../scss/base/_shorthand.sass */
.serif, ion-pane > ion-header-bar, ion-pane .list > .item, ion-pane h1, textarea, .agenda_detail label select, .agenda_detail label input, .agenda_detail label div.input {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* line 8, ../../scss/base/_shorthand.sass */
.full-height, .pane.full-height ion-content {
  height: 100% !important;
}
/* line 11, ../../scss/base/_shorthand.sass */
.full-height.has-header, .pane.full-height ion-content.has-header {
  height: calc(100% - 44px) !important;
}

/* line 14, ../../scss/base/_shorthand.sass */
.db, #loadingOverlay i {
  display: block !important;
}

/* line 16, ../../scss/base/_shorthand.sass */
.di {
  display: inline !important;
}

/* line 18, ../../scss/base/_shorthand.sass */
.dib, .pane.councils_detail .tab-menu a, .agenda_detail h2 div {
  display: inline-block !important;
}

/* line 20, ../../scss/base/_shorthand.sass */
.fl {
  float: left;
}

/* line 22, ../../scss/base/_shorthand.sass */
.fr {
  float: right;
}

/* line 24, ../../scss/base/_shorthand.sass */
.fn {
  float: none;
}

/* line 26, ../../scss/base/_shorthand.sass */
.cl {
  clear: left;
}

/* line 28, ../../scss/base/_shorthand.sass */
.cr {
  clear: right;
}

/* line 30, ../../scss/base/_shorthand.sass */
.cb {
  clear: both;
}

/* line 36, ../../scss/base/_shorthand.sass */
.grey3 {
  color: #333333 !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.grey3-border {
  border-color: #333333 !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.grey6 {
  color: #666666 !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.grey6-border {
  border-color: #666666 !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.grey9, ion-pane .list > .item.disabled, .pane.councils_detail .tab-menu a, .agenda_detail h2 div.selected {
  color: #999999 !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.grey9-border {
  border-color: #999999 !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.greyA, .agenda_detail label div.input {
  color: #AAAAAA !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.greyA-border {
  border-color: #AAAAAA !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.greyC, .agenda_detail label span {
  color: #CCCCCC !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.greyC-border {
  border-color: #CCCCCC !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.greyD {
  color: #DDDDDD !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.greyD-border {
  border-color: #DDDDDD !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.greyE {
  color: #EEEEEE !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.greyE-border {
  border-color: #EEEEEE !important;
}

/* line 36, ../../scss/base/_shorthand.sass */
.cBlue, .pane.councils_detail ion-content button i, .pane.councils_detail ion-content button span, .agenda_detail h2 div {
  color: #387491 !important;
}

/* line 38, ../../scss/base/_shorthand.sass */
.cBlue-border, .pane.councils_detail ion-content button {
  border-color: #387491 !important;
}

/* line 42, ../../scss/base/_shorthand.sass */
.vac, #loadingOverlay i {
  position: relative;
  top: 50%;
  -ms-transform: translate(0px, -50%);
  -webkit-transform: translate(0px, -50%);
  transform: translate(0px -50%);
}

/* line 44, ../../scss/base/_shorthand.sass */
.tac, ion-pane h2 {
  text-align: center !important;
}

/* line 46, ../../scss/base/_shorthand.sass */
.tal {
  text-align: left !important;
}

/* line 48, ../../scss/base/_shorthand.sass */
.tar {
  text-align: right !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f10, .f10.icon:before {
  font-size: 10px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f12, ion-pane h2, .pane.navigation button span, .pane.navigation .bar-footer button, .pane.councils_detail .tab-menu a, .pane.councils_detail ion-content button span, .agenda_detail label span, .f12.icon:before, ion-pane h2.icon:before, .pane.navigation button span.icon:before, .pane.navigation .bar-footer button.icon:before, .pane.councils_detail .tab-menu a.icon:before, .pane.councils_detail ion-content button span.icon:before, .agenda_detail label span.icon:before {
  font-size: 12px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f14, .f14.icon:before {
  font-size: 14px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f16, ion-pane .list > .item, .f16.icon:before, ion-pane .list > .icon.item:before {
  font-size: 16px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f18, textarea, .f18.icon:before, textarea.icon:before {
  font-size: 18px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f20, .f20.icon:before {
  font-size: 20px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f22, .f22.icon:before {
  font-size: 22px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f24, ion-pane > ion-header-bar .title:before, ion-pane h1, .f24.icon:before, ion-pane > ion-header-bar .icon.title:before, ion-pane h1.icon:before {
  font-size: 24px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f30, .pane.councils_detail ion-content button i, .f30.icon:before, .pane.councils_detail ion-content button i.icon:before {
  font-size: 30px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f36, .f36.icon:before {
  font-size: 36px !important;
}

/* line 55, ../../scss/base/_shorthand.sass */
.f72, .f72.icon:before {
  font-size: 72px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh10 {
  line-height: 10px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh12 {
  line-height: 12px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh14 {
  line-height: 14px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh16 {
  line-height: 16px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh18 {
  line-height: 18px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh20 {
  line-height: 20px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh22 {
  line-height: 22px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh24 {
  line-height: 24px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh26 {
  line-height: 26px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh28 {
  line-height: 28px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh30 {
  line-height: 30px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh32 {
  line-height: 32px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh34 {
  line-height: 34px !important;
}

/* line 60, ../../scss/base/_shorthand.sass */
.lh36, ion-pane h1 {
  line-height: 36px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad0 {
  padding: 0px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad0t {
  padding-top: 0px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad0b {
  padding-bottom: 0px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad0tb {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad0l {
  padding-left: 0px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad0r {
  padding-right: 0px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad0lr, ion-pane .list > .item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad10 {
  padding: 10px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad10t {
  padding-top: 10px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad10b {
  padding-bottom: 10px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad10tb, ion-pane .list > .item {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad10l {
  padding-left: 10px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad10r {
  padding-right: 10px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad10lr {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad20 {
  padding: 20px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad20t {
  padding-top: 20px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad20b {
  padding-bottom: 20px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad20tb {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad20l {
  padding-left: 20px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad20r {
  padding-right: 20px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad20lr {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad30 {
  padding: 30px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad30t {
  padding-top: 30px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad30b {
  padding-bottom: 30px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad30tb {
  padding-bottom: 30px !important;
  padding-top: 30px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad30l {
  padding-left: 30px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad30r {
  padding-right: 30px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad30lr {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad40 {
  padding: 40px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad40t {
  padding-top: 40px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad40b {
  padding-bottom: 40px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad40tb {
  padding-bottom: 40px !important;
  padding-top: 40px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad40l {
  padding-left: 40px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad40r {
  padding-right: 40px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad40lr {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad50 {
  padding: 50px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad50t {
  padding-top: 50px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad50b {
  padding-bottom: 50px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad50tb {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad50l {
  padding-left: 50px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad50r {
  padding-right: 50px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad50lr {
  padding-left: 50px !important;
  padding-right: 50px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad60 {
  padding: 60px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad60t {
  padding-top: 60px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad60b {
  padding-bottom: 60px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad60tb {
  padding-bottom: 60px !important;
  padding-top: 60px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad60l {
  padding-left: 60px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad60r {
  padding-right: 60px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad60lr {
  padding-left: 60px !important;
  padding-right: 60px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad70 {
  padding: 70px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad70t {
  padding-top: 70px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad70b {
  padding-bottom: 70px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad70tb {
  padding-bottom: 70px !important;
  padding-top: 70px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad70l {
  padding-left: 70px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad70r {
  padding-right: 70px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad70lr {
  padding-left: 70px !important;
  padding-right: 70px !important;
}

/* line 66, ../../scss/base/_shorthand.sass */
.pad80 {
  padding: 80px !important;
}

/* line 68, ../../scss/base/_shorthand.sass */
.pad80t {
  padding-top: 80px !important;
}

/* line 70, ../../scss/base/_shorthand.sass */
.pad80b {
  padding-bottom: 80px !important;
}

/* line 72, ../../scss/base/_shorthand.sass */
.pad80tb {
  padding-bottom: 80px !important;
  padding-top: 80px !important;
}

/* line 75, ../../scss/base/_shorthand.sass */
.pad80l {
  padding-left: 80px !important;
}

/* line 77, ../../scss/base/_shorthand.sass */
.pad80r {
  padding-right: 80px !important;
}

/* line 79, ../../scss/base/_shorthand.sass */
.pad80lr {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

/* line 85, ../../scss/base/_shorthand.sass */
.mar0a {
  margin: 0 auto !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar0 {
  margin: 0px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar0t {
  margin-top: 0px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar0b {
  margin-bottom: 0px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar0tb {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar0l {
  margin-left: 0px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar0r {
  margin-right: 0px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar0lr {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar10, ion-pane h2 {
  margin: 10px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar10t, ion-pane h1 {
  margin-top: 10px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar10b {
  margin-bottom: 10px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar10tb, textarea {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar10l {
  margin-left: 10px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar10r {
  margin-right: 10px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar10lr {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar20 {
  margin: 20px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar20t {
  margin-top: 20px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar20b {
  margin-bottom: 20px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar20tb {
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar20l {
  margin-left: 20px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar20r {
  margin-right: 20px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar20lr {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar30 {
  margin: 30px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar30t {
  margin-top: 30px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar30b {
  margin-bottom: 30px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar30tb {
  margin-bottom: 30px !important;
  margin-top: 30px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar30l {
  margin-left: 30px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar30r {
  margin-right: 30px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar30lr {
  margin-left: 30px !important;
  margin-right: 30px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar40 {
  margin: 40px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar40t {
  margin-top: 40px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar40b {
  margin-bottom: 40px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar40tb {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar40l {
  margin-left: 40px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar40r {
  margin-right: 40px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar40lr {
  margin-left: 40px !important;
  margin-right: 40px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar50 {
  margin: 50px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar50t {
  margin-top: 50px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar50b {
  margin-bottom: 50px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar50tb {
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar50l {
  margin-left: 50px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar50r {
  margin-right: 50px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar50lr {
  margin-left: 50px !important;
  margin-right: 50px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar60 {
  margin: 60px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar60t {
  margin-top: 60px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar60b {
  margin-bottom: 60px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar60tb {
  margin-bottom: 60px !important;
  margin-top: 60px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar60l {
  margin-left: 60px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar60r {
  margin-right: 60px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar60lr {
  margin-left: 60px !important;
  margin-right: 60px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar70 {
  margin: 70px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar70t {
  margin-top: 70px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar70b {
  margin-bottom: 70px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar70tb {
  margin-bottom: 70px !important;
  margin-top: 70px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar70l {
  margin-left: 70px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar70r {
  margin-right: 70px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar70lr {
  margin-left: 70px !important;
  margin-right: 70px !important;
}

/* line 88, ../../scss/base/_shorthand.sass */
.mar80 {
  margin: 80px !important;
}

/* line 90, ../../scss/base/_shorthand.sass */
.mar80t {
  margin-top: 80px !important;
}

/* line 92, ../../scss/base/_shorthand.sass */
.mar80b {
  margin-bottom: 80px !important;
}

/* line 94, ../../scss/base/_shorthand.sass */
.mar80tb {
  margin-bottom: 80px !important;
  margin-top: 80px !important;
}

/* line 97, ../../scss/base/_shorthand.sass */
.mar80l {
  margin-left: 80px !important;
}

/* line 99, ../../scss/base/_shorthand.sass */
.mar80r {
  margin-right: 80px !important;
}

/* line 101, ../../scss/base/_shorthand.sass */
.mar80lr {
  margin-left: 80px !important;
  margin-right: 80px !important;
}

/* line 3, ../../scss/base/_common.sass */
ion-pane *[ui-sref] {
  cursor: pointer;
}
/* line 7, ../../scss/base/_common.sass */
ion-pane > ion-header-bar {
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 13, ../../scss/base/_common.sass */
ion-pane > ion-header-bar .title:before {
  position: relative;
  top: 2px;
  padding-right: 6px;
}
/* line 21, ../../scss/base/_common.sass */
ion-pane .list > .item {
  border: none;
  border-top: 1px solid #EEE;
}
/* line 29, ../../scss/base/_common.sass */
ion-pane .list > .item:first-child {
  border: none;
}
/* line 32, ../../scss/base/_common.sass */
ion-pane .list > .item .icon {
  margin: -7px 0;
}
/* line 35, ../../scss/base/_common.sass */
ion-pane .list > .item a {
  padding: 0;
  overflow: visible;
}
/* line 42, ../../scss/base/_common.sass */
ion-pane .list > .item .activated {
  background-color: #FFF;
}
/* line 45, ../../scss/base/_common.sass */
ion-pane h1, ion-pane h2, ion-pane h3, ion-pane h4, ion-pane h5, ion-pane h6 {
  color: #666;
}
/* line 54, ../../scss/base/_common.sass */
ion-pane h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 62, ../../scss/base/_common.sass */
ion-pane hr {
  border-top: 4px double #EEE;
  border-right: none;
  border-bottom: 1px solid #EEE;
  height: 2px;
  border-left: none;
}
/* line 69, ../../scss/base/_common.sass */
ion-pane hr.plain {
  border: none;
  border-top: 1px solid #EEE;
}

/* line 73, ../../scss/base/_common.sass */
.scroll {
  min-height: 100%;
}

/* line 76, ../../scss/base/_common.sass */
[nav-view-direction="forward"], [nav-view-direction="back"] {
  background-color: #FFF !important;
}

/* line 79, ../../scss/base/_common.sass */
.button-max {
  max-width: 300px;
}

/* line 82, ../../scss/base/_common.sass */
.hidden-md {
  display: none;
}
@media (max-width: 767px) {
  /* line 82, ../../scss/base/_common.sass */
  .hidden-md {
    display: block;
  }
}

/* line 3, ../../scss/components/_discussions.sass */
#personal-assignments .item, #discussions .item {
  white-space: normal;
}
/* line 6, ../../scss/components/_discussions.sass */
#personal-assignments .item span, #discussions .item span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 10, ../../scss/components/_discussions.sass */
#personal-assignments .item .content, #discussions .item .content {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 14, ../../scss/components/_discussions.sass */
#personal-assignments .item img, #discussions .item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #EEE;
}
/* line 20, ../../scss/components/_discussions.sass */
#personal-assignments .item .username, #personal-assignments .item .date, #discussions .item .username, #discussions .item .date {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 1, ../../scss/components/_inputs.sass */
textarea, input {
  width: 100%;
  outline: none;
  overflow: auto;
}

/* line 6, ../../scss/components/_inputs.sass */
textarea {
  resize: none;
  min-height: 36px;
  line-height: 24px;
}

/* line 1, ../../scss/components/_loading.sass */
#loadingOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #FFF;
  opacity: 0.7;
  text-align: center;
  padding-top: 200px;
}
/* line 13, ../../scss/components/_loading.sass */
#loadingOverlay i {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
/* line 20, ../../scss/components/_loading.sass */
#loadingOverlay.hidden {
  display: none;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 9, ../../scss/pages/_navigation.sass */
.pane.navigation ion-content .row:last-child button {
  border-bottom: none !important;
}
/* line 11, ../../scss/pages/_navigation.sass */
.pane.navigation ion-content button {
  border-bottom: 2px solid #EEE !important;
  margin: 0px 30px;
}
/* line 15, ../../scss/pages/_navigation.sass */
.pane.navigation button {
  max-height: none;
}
/* line 18, ../../scss/pages/_navigation.sass */
.pane.navigation button .icon {
  position: relative;
  top: 5px;
}
/* line 22, ../../scss/pages/_navigation.sass */
.pane.navigation button span {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  top: -5px;
}
/* line 29, ../../scss/pages/_navigation.sass */
.pane.navigation .bar-footer {
  height: auto;
  border-top: 1px solid #DDD;
  z-index: 12;
}
/* line 34, ../../scss/pages/_navigation.sass */
.pane.navigation .bar-footer button {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #69E;
}

/* @include sm
 *   .row
 *     .col
 *       border-bottom: 2px solid #EEE
 *       margin-left: 0px
 *       margin-right: 0px
 *
 *       &:last-child
 *         border-bottom: none */
/* line 5, ../../scss/pages/_council.sass */
.pane.new_discussion #participants li, .pane.new_assignment #participants li, .pane.council_edit #participants li {
  margin-right: 5px;
}
/* line 7, ../../scss/pages/_council.sass */
.pane.new_discussion #participants img, .pane.new_assignment #participants img, .pane.council_edit #participants img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 1px solid #EEE;
}
/* line 15, ../../scss/pages/_council.sass */
.pane.new_discussion ion-content i.icon:before, .pane.new_assignment ion-content i.icon:before, .pane.council_edit ion-content i.icon:before {
  width: 20px;
  text-align: center;
}
/* line 20, ../../scss/pages/_council.sass */
.pane.new_discussion .modal-trigger, .pane.new_assignment .modal-trigger, .pane.council_edit .modal-trigger {
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  top: -3px;
  padding-left: 5px;
}
/* line 27, ../../scss/pages/_council.sass */
.pane.new_discussion ion-header-bar, .pane.new_assignment ion-header-bar, .pane.council_edit ion-header-bar {
  padding: 10px;
  height: auto;
  border-bottom: none;
}
/* line 32, ../../scss/pages/_council.sass */
.pane.new_discussion ion-header-bar button, .pane.new_assignment ion-header-bar button, .pane.council_edit ion-header-bar button {
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  max-height: 40px;
}
/* line 39, ../../scss/pages/_council.sass */
.pane.new_discussion ion-header-bar button.button:last-child, .pane.new_assignment ion-header-bar button.button:last-child, .pane.council_edit ion-header-bar button.button:last-child {
  top: 10px;
  right: 10px;
  position: absolute;
}
/* line 44, ../../scss/pages/_council.sass */
.pane.new_discussion ion-header-bar button.button:last-child.activated, .pane.new_assignment ion-header-bar button.button:last-child.activated, .pane.council_edit ion-header-bar button.button:last-child.activated {
  background-color: #BFE1F2;
}
/* line 48, ../../scss/pages/_council.sass */
.pane.councils_detail ion-header-bar {
  border-bottom: none;
}
/* line 51, ../../scss/pages/_council.sass */
.pane.councils_detail .tab-menu {
  padding-top: 44px;
  border-bottom: 1px solid #DDD;
  position: relative;
  z-index: 5;
  background-color: #FFF;
}
/* line 58, ../../scss/pages/_council.sass */
.pane.councils_detail .tab-menu a {
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 0;
  margin: 0 10px;
  position: relative;
  top: 1px;
}
/* line 70, ../../scss/pages/_council.sass */
.pane.councils_detail .tab-menu a.selected {
  border-bottom: 1px solid #000;
  color: #000;
}
/* line 74, ../../scss/pages/_council.sass */
.pane.councils_detail ion-content {
  margin-top: 10px;
}
/* line 77, ../../scss/pages/_council.sass */
.pane.councils_detail ion-content button {
  border-radius: 5px;
}
/* line 81, ../../scss/pages/_council.sass */
.pane.councils_detail ion-content button.activated {
  background-color: #BFE1F2;
}
/* line 88, ../../scss/pages/_council.sass */
.pane.councils_detail ion-content button span {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* line 2, ../../scss/pages/_agenda.sass */
.agenda_detail h2 {
  max-height: 14px;
  overflow: hidden;
}
/* line 6, ../../scss/pages/_agenda.sass */
.agenda_detail h2 div {
  min-width: 100px;
  padding: 0 20px;
}
/* line 17, ../../scss/pages/_agenda.sass */
.agenda_detail label span {
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 27, ../../scss/pages/_agenda.sass */
.agenda_detail label select, .agenda_detail label input, .agenda_detail label div.input {
  height: 30px;
  border: none;
  background-color: transparent;
  font-size: 18px;
  -webkit-appearance: none;
  padding: 0;
}
/* line 36, ../../scss/pages/_agenda.sass */
.agenda_detail label textarea {
  margin-top: 0 !important;
}

/* line 3, ../../scss/pages/_home.sass */
.pane.home #user-avatar {
  border-radius: 50%;
  max-width: 200px;
  width: 25vw;
  height: 25vw;
  max-height: 200px;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  border: 2px solid #EEE;
}

/* line 2, ../../scss/pages/_welcome.sass */
.setup h1 {
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
}

/* line 6, ../../scss/pages/_welcome.sass */
.welcome, .setup, .login {
  background-color: #2D435E;
  color: #fff;
}
/* line 10, ../../scss/pages/_welcome.sass */
.welcome .button, .setup .button, .login .button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  text-transform: uppercase;
}
/* line 18, ../../scss/pages/_welcome.sass */
.welcome h1, .setup h1, .login h1 {
  color: #fff;
}
/* line 21, ../../scss/pages/_welcome.sass */
.welcome .slider, .setup .slider, .login .slider {
  min-height: 200px;
  width: 100%;
  color: #fff;
  text-align: center;
}
/* line 27, ../../scss/pages/_welcome.sass */
.welcome .slider p, .setup .slider p, .login .slider p {
  margin-top: 10px;
  font-size: 16px;
}
/* line 31, ../../scss/pages/_welcome.sass */
.welcome .slider .slider-pager .slider-pager-page, .setup .slider .slider-pager .slider-pager-page, .login .slider .slider-pager .slider-pager-page {
  color: #fff;
}
